@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
p,span,h1,h2,h3,h4,h5,h6,ol,a{
    overflow:hidden;
}

.font-family{
    font-family: 'Poppins', sans-serif;
}

.dark-bg{
    background: linear-gradient(180deg, #2A2C38 0%, rgba(42, 44, 56, 0.00) 100%);
}
.red-bg {
    background: linear-gradient(115deg, #C20102 0%, #7B0100 100%);
}
.header-bg{
    background: url('/images/home/Group\ 131.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: rgba(16, 62, 46, 1);
    border-radius: 5px;
}
 
body::-webkit-scrollbar-thumb {
    background: #c9c7c7;
    border-radius: 5px;
}
 
body::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}


.about-bg{
    background: url('/images/home/greenbg.svg');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.green-backbg{
    background: url('/images/home/greenbackbg.svg');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.green-backbg-auth{
    background: url('/images/home/greenbackbg.svg');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.get-started{
    background: url('/images/home/get-started.svg');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.grid-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "img3 img2"
                         "img3 img4"
                         "img1 img4"
                         "img1 img5" 

                          ;
}

.grid-container img{
    width: 100%;
    height: 100%;
    /* object-fit: contain;a */
} 
.grid-container .img1{
    grid-area: img1;
}
.grid-container .img2{
    grid-area: img2;
}
.grid-container .img3{
    grid-area: img3;
}
.grid-container .img4{
    grid-area: img4;
}
.grid-container .img5{
    grid-area: img5;
}




.btn-outline {
    @apply border border-primary text-primary bg-transparent hover:bg-primary hover:text-white;
}
.btn-white {
    @apply bg-white text-primary
}

.nav-hover-link{
    @apply hover:border-b-4 border-primary ;
}
